.menu-container {
  background-color: #ffffff;
}

.menu-container .menu-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  margin-bottom: 2rem;
}

.order-online {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25rem;
  margin: 2rem;
}

.menu-container .menu-specials .greek-img {
  width: 260px;
  height: 165px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.menu-container .menu-specials .bruchetta-img {
  width: 100%;
  height: 165px;
  border-radius: 1.5rem 1.5rem 0 0;
}

.menu-container .menu-specials .dessert-img {
  min-width: 260px;
  height: 165px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.menu-specials {
  background-color: #edefee;
  width: 264px;
  height: 430px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 1rem;
}
.menu-price {
  color: #ee9972;
  font-weight: bold;
}

.menu-description {
  color: #495e57;
  margin: 1rem;
}
